
#canvas{
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    width: 600px;
    height: 600px;
    background-color: blueviolet;
    border: 2px;
    border-color: darkred;
}

#description{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

#title{
    display: flex;
    justify-content: center;
}