<!doctype html>
<html lang="en">
  <head>
    <title>Brick Breaker</title>
    <meta charset="utf-8">
    <style> body { margin: 0 } </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js"></script>
    <script type = "module" src="./public/client.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <h1>Brick Breaker</h1>
  </body>
</html>
