extends layout

block content
  <nav>
    h1= title
    <img id="helpImage" src="../images/helpIcon.png" alt="Help Icon" height=50px width=50px/>
  </nav>
  
  p This is #{title}

  <button id="hideButton" type="button">Hide Three.JS Window</button>
