<!doctype html>
<html lang="en">
  <head>
    <title>CS 4241 A4 JKreiselman</title>
  
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.2/dat.gui.js"></script>
 <script>
  $( function() {
    $( "#dialog" ).dialog();
  } );
  </script>
  </head>
  <body> <script src="/client.js" > 
    
  
  </script>

   
  
    <div id="dialog" title="Basic dialog">
  <p>This is an audio visualizer. You will be able to adjust certain aspects of the experience by using the interface in the top right corner of the screen. You will be able to modify the color, shape, style, and size
    of the visualizer, and change the background color gradient via the interface. The visualizer will also move to with your mouse cursor. If you want to find these instructions again press the instructions button
      in the interface. The song that is playing is Ocarina of Time: Title Theme [ dj-Jo Remix ] https://www.youtube.com/watch?v=tePipYkopw8 </p>
</div>
    
  </body>
</html>
