//extends layout

block content
  //h1= title
  //p Welcome to #{title}
  head 
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js')
    //script(type='text/javascript' src='DAT.GUI.min.js')
    //script(src="stats.min.js")

  body  
    script(src='/javascripts/bundle.js')
    //script(src='/javascripts/bundle.js')
    //script(src='/javascripts/main.js')
    
    //p hello dude