<!doctype html>
<html lang="en">
<head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type = "text/css" href="/views/style.css">
    <meta name = "Description" content = "Dice Roller">
    <meta name = "Keywords" content = "Dice, Roll, D&D">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="/scripts/dat.gui.module.js"></script>
    <script type="module" src="/public/roll3DDice.js"></script>
    <script type="module" src="/public/draw2dDiceAndError.js"></script>
</head>
<body>
<audio src="/resources/Sen no Kiseki II OST - Chasing After the Mountain Hare.mp3" controls autoplay loop>Your browser does not support audio</audio>
<div class = "heading">
    <h1>
        <div id = "title">
            Dice Roller
        </div>
    </h1>
</div>
<div class = "heading">
    <div class = "inputBox">
        <div class = "labelInput">
            <label for = "typeDice">Dice Type:</label>
            <form action="">
                <input type="text" id="typeDice" value="">
            </form>
        </div>
        <div class = "labelInput">
            <label for = "numDice">Number of Dice:</label>
            <form action = "">
                <input type = "number" id = "numDice" value = "Number of Dice">
            </form>
        </div>
        <div class = "labelInput">
            <form action = "">
                <input type = "radio" id = "-" name = "add/sub">
                <label for = "-">-</label>
                <input type = "radio" id = "+" name = "add/sub">
                <label for = "+">+</label>
            </form>
        </div>
        <div class = "labelInput">
            <label for = "flatDice">Flat Modifier:</label>
            <form action = "">
                <input type = "number" id = "flatDice" value = "Flat Number added to Result">
            </form>
        </div>
        <div id = "errorBox">
            <div id = "errorLabel">
                <label>Error Label</label>
            </div>
        </div>
        <div class = "labelInput">
            <button id = "submitButton" href="#canvas">
                Roll Dice
            </button>
        </div>
    </div>
</div>
<div class = "heading">
    <div class = "inputBox">
        <div id = "dice"></div>
    </div>
</div>
<div class = "labelInput">
    <label id = "resultLabel">Result: </label>
</div>
<a id="canvas"></a>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js'></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/cannon.js/0.6.2/cannon.min.js"></script>
<script type="module" src = "/public/client.js"></script>
</html>
