doctype html
html
  head
    title= title
    <meta charset-'utf-8'>
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js'></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
    <script src='./javascripts/main.js' type='module'></script>
    <a-scene></a-scene>

  body
    block content
