/*Style your own assignment! This is fun! */
path {
    fill: lightgray;
    stroke: #000;
}
.graticule {
    fill: none;
    stroke: #ccc;
    stroke-width: .5px;
}
.foreground {
    fill: none;
    stroke: #333;
    stroke-width: 1.5px;
}